.wrapper {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(144deg, #0d5872 0%, #207796 100%);
}

.contentBlock {
    width: 100vw;
    display: flex;
    align-items: center;
    min-height: calc(65.74074vh + min(9.0625vw, 16.11111vh) + 1.875vw);
}

.contentBlock>form {
    --formWidth: 26.04167vw;
    width: var(--formWidth);
    height: 100%;
    margin-left: calc(50% - var(--formWidth) / 2);
    background-color: rgba(255, 255, 255, 0.15);
    border: solid #E7EDF3 min(0.05208vw, 0.09259vh);
    border-radius: min(0.41667vw, 0.74074vh);
    padding-left: 2.86458vw;
}

.contentBlock>img {
    width: min(20.83333vw, 37.03704vh);
    margin-left: 4.94792vw;
    object-position: center center;
    object-fit: contain;
    overflow: visible;
    pointer-events: none;
}

.closeWrapper {
    width: 100%;
    height: 2.77778vh;
    margin-top: 1.2963vh;
    padding-right: 0.72917vw;
    display: flex;
    justify-content: flex-end;
}

.closeWrapper>img {
    height: 100%;
    object-fit: contain;
    object-position: center center;
    cursor: pointer;
}

.contentBlock>form>h1:first-of-type {
    margin-top: 0.18519vh;
    font-size: 1.5625vw;
    font-weight: 700;
    color: #fff;
}

.contentBlock>form>h1:not(:first-of-type) {
    margin-top: 2.77778vh;
    color: #fff;
    font-size: min(1.30208vw, 2.31481vh);
    font-weight: 400;
}

.contentBlock>form>input {
    margin-top: 0.92593vh;
    width: 20.3125vw;
    height: 4.72222vh;
    background-color: #D6E2EA;
    display: flex;
    align-items: center;
    padding-left: 0.72917vw;
    border-radius: min(0.41667vw, 0.74074vh);
    color: #00536F;
}

.contentBlock>form>input::placeholder {
    color: #6D9CAF;
}

.contentBlock>form>button:focus {
    outline: none;
}

.contentBlock>form>button {
    width: 10.41667vw;
    height: 4.62963vh;
    margin-left: 4.94792vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(0.9375vw, 1.66667vh);
    font-weight: 700;
    margin-top: 2.77778vh;
    border-style: solid;
    border-width: min(0.05208vw, 0.09259vh);
    border-radius: min(0.41667vw, 0.74074vh);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out ;
    margin-bottom: 4.16667vh;
}

.active{ 
    background-color: #00536F;
    cursor: pointer;
    color: #D9E5F0;
    border-color: #E7EDF3;
}

.blocked{
    background-color: transparent;
    cursor: not-allowed;
    color: #6D9CAF;
    border-color: #6D9CAF;
}