.wrapper {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(144deg, #0d5872 0%, #207796 100%);
}

.content {
    position: absolute;
    top: calc(50% - 12.421775vw);
    left: calc(36.97917vw);
    width: 26.04167vw;
    height: 24.84375vw;
    background-color: rgba(255, 255, 255, 0.15);
    border: #E7EDF3 solid min(0.05208vw, 0.09259vh);
    border-radius: min(0.41667vw, 0.74074vh);
    padding: 0.72917vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close {
    align-self: flex-end;
    object-fit: contain;
    object-position: center center;
    overflow: visible;
    cursor: pointer;
    width: 1.5625vw;
}

.content>h1 {
    text-align: center;
    margin-top: 0.10417vw;
    color: #fff;
    font-size: 1.5625vw;
    font-weight: 700;
}

.content>h2 {
    margin-top: 1.5625vw;
    width: 20.3125vw;
    text-align: left;
    font-weight: 400;
    font-size: 1.30208vw;
    color: #fff;
}

.content>input {
    margin-top: 0.52083vw;
    width: 20.3125vw;
    height: 2.65625vw;
    border: none;
    background-color: #D6E2EA;
    display: flex;
    align-items: center;
    padding-left: 0.72917vw;
    font-weight: 400;
    color: #6D9CAF;
    font-size: 0.9375vw;
    border-radius: 0.41667vw;
}

.content>button {
    margin-top: 1.5625vw;
    width: 10.41667vw;
    height: 2.60417vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.41667vw;
    border-width: 0.10417vw;
    border-style: solid;
    font-weight: 700;
    font-size: 0.9375vw;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.active {
    cursor: pointer;
    color: #00536F;
    border-color: #D9E5F0;
    background-color: #D9E5F0;
}

.disable {
    cursor: not-allowed;
    color: #6D9CAF;
    border-color: #6D9CAF;
    background-color: transparent;
}

.content>div {
    margin-top: 0.52083vw;
    width: 10.41667vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 0.625vw;
}

.content>div>p{
    color: #fff;
}
.content>div>a{
    cursor: pointer;
    color: #2AFFD9;
}