.skin {
    height: 100%;
    position: relative;
    border-radius: min(0.20833vw, 0.37037vh);
    cursor: pointer;
    display: flex;
    align-items: center;

    &.mandatory {
        background-color: #1D728F;
        color: #E7EDF3;
    }

    &.optional {
        background-color: #D9E5F0;
        border: solid min(0.15625vw, 0.27778vh) #1D728F;
        color: #1D728F;
    }

    &>h1 {
        position: absolute;
        top: min(1.04167vw, 1.85185vh);
        left: min(1.04167vw, 1.85185vh);
        font-size: min(1.30208vw, 2.31481vh);
        font-weight: 700;
    }

    &>img {
        position: absolute;
        object-fit: contain;
        pointer-events: none;
        filter: blur(0);
        transition: filter 0.3s ease-in-out;
    }

    &:hover{
        &>img{
            filter: blur(min(0.20833vw, 0.37037vh));
        }
    }
}