@font-face {
    font-family: 'Roboto-flex';
    src: url('../fonts/RobotoFlex.ttf') format('truetype');
    font-style: normal;
}

* {
    font-family: 'Roboto-flex';
    overflow-x: hidden;
}

*::selection{
    background-color: #1D728F;
    color: #E7EDF3;
}

#root {
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
