.skin {
    width: 100%;
    height: 100%;
    background-color: rgba(217, 229, 240, 0.25);
    border: #E7EDF3 min(0.05208vw, 0.09259vh) solid;
    border-radius: min(0.41667vw, 0.74074vh);
    display: flex;
    padding: min(1.5625vw, 2.77778vh);
    justify-content: space-between;
    overflow: hidden;
}

.wrapperTablet{
    width: 65.10417vw;
    height: 100%;
    overflow: hidden;
}

.title {
    width: 100%;
    height: 5.55556vh;
    border-radius: min(0.41667vw, 0.74074vh);
    display: flex;
    align-items: center;
    background-color: #D9E5F0;
}

.category {  
    height: 5.0vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00536F;
    font-size: min(1.04167vw, 1.85185vh);
    font-weight: 700;
    cursor: pointer;
}

.category:not(:last-of-type){
    border-right: #327287 min(0.05208vw, 0.09259vh) solid;
}

.tabletRow{
    height: 4.44444vh;
    width: 100%;
    background-color: #D9E5F0;
    display: flex;
    align-items: center;
}

.mainContent{
    margin-top: 2.77778vh;
    width: 100%;
    height: 60.18519vh;
    border-radius: min(0.41667vw, 0.74074vh);
    overflow: auto;
}


.mainContent::-webkit-scrollbar {
    width: 0vw; /* Ширина полосы прокрутки для браузеров на основе WebKit (Chrome, Safari, Opera) */
}

.mainContent::-webkit-scrollbar-track {
    background: transparent; /* Цвет фона трека (необязательно) */
}

.mainContent::-webkit-scrollbar-thumb {
    background: transparent; /* Цвет полосы прокрутки */
    border-radius: min(0.41667vw, 0.74074vh); /* Закругленные углы полосы прокрутки */
}

.tabletElement{
    height: 100%;
    transition: 0.3s ease-in-out background-color;
}

.hLine{
    width: 0.05208vw;
    height: 90%;
    background-color: #327287;
    transition: all 0.3s ease-in-out;
}

.vLines{
    width: 100%;
    display: flex;
    align-items: center;
    height: 0.09259vh;
    justify-content: space-around;
    background: #D9E5F0;
}

.vLine{
    background-color: #327287;
    height: 100%;
    transition: all 0.3s ease-in-out;
}
