.skin {
  height: 100%;
  position: relative;
  overflow: visible;
  cursor: pointer;
  border-bottom: #848484 min(0.05208vw, 0.09259vh) solid;
}

.calendarWrapper {
  position: absolute;
  z-index: 1;
  width: 20vw;
  height: 20vh;
  background-color: aquamarine;
}