.skin {
  height: 100%;
  position: relative;
  overflow: visible;
  cursor: pointer;
  border-bottom: #848484 min(0.05208vw, 0.09259vh) solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendarWrapper {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 25vh;
  border: min(0.05208vw, 0.09259vh) solid #1D728F;
  top: 100%;
  left: 0;
  border-radius: 0 0 min(0.41667vw, 0.74074vh) min(0.41667vw, 0.74074vh);
  background-color: #F3F8FF;
  display: flex;
  overflow: hidden;
}

.outside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.calendarWrapper>div {
  height: 100%;
}

.month,
.year {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #F3F8FF;
  background-color: #327287;
  width: 12.5%;
  overflow-wrap: break-word;
  /* для браузеров с поддержкой стандарта */
  word-wrap: break-word;
  /* для браузеров с поддержкой устаревшего свойства */
}

.month>h1 {
  font-size: min(1.35417vw, 2.40741vh);
  width: 0.8em;
  font-weight: 500;
  overflow: visible;
}

.calendarBlock {
  width: 75%;
  cursor: default;
  padding-left: 0.52083vw;
  padding-right: 0.52083vw;
}

.calendarBlock>header {
  margin-top: 2.5%;
  width: 100%;
  height: 16%;
  border-bottom: #7CA3B3 min(0.05208vw, 0.09259vh) solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  color: #1D1D1D;
  font-weight: 400;
  font-size: min(0.9375vw, 1.66667vh);
  margin-bottom: 2.5%;
}

.calendarBlock>header>div {
  width: 3em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendarWeek {
  width: 100%;
  height: 2.96296vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  color: #1D1D1D;
  font-weight: 300;
  font-size: min(0.9375vw, 1.66667vh);
}

.calendarWeek>div {
  width: 3em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
  background-color: #F3F8FF;
}

.calendarWeek>div.activeTablteDay:hover {
  background-color: #a7e4f8;
}

.year>h1 {
  font-size: min(1.5625vw, 2.77778vh);
  width: 1em;
  font-weight: 600;
}

.selectMonth,
.selectYear {
  width: 87.5%;
  background-color: #327287;
}

.selectYear {
  border-left: 1px solid #F3F8FF;
  display: flex;
}

.selectMonth {
  color: #F3F8FF;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-right: 1px solid #F3F8FF;
}

.rowMonths {
  text-align: center;
  height: 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.rowMonths>div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease-in-out;
  background-color: #327287;
  color: #F3F8FF;
  height: 100%;
}

.rowMonths>div:hover {
  color: white;
  background-color: #4bb6da;
}

.yearMenu {
  width: 85%;
  height: 100%;
}

.yearMenuPointers {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: default;
}

.yearMenuPointers>img {
  cursor: pointer;
  width: 35%;
}

.activeTablteDay {
  cursor: pointer;
  color: #000000;
}

.dissabledTablteDay {
  cursor: default;
  color: #6C6C6C;
}

.close {
  margin-left: 0.5em;
  margin-bottom: 0.025em;
  width: min(1.04167vw, 1.85185vh);
  height: min(1.04167vw, 1.85185vh);
  overflow: visible;
}

.close>svg {
  width: 100%;
  height: 100%;
}

.close>svg>path:first-of-type {
  transition: fill 0.5s ease-in-out;
}


.close>svg:hover>path:first-of-type {
  fill: rgb(196, 106, 106);
}