.skin {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.skin>header {
    height: 4.16667vh;
    width: 100%;
    display: flex;
    border-top: min(0.05208vw, 0.09259vh) solid #cde4fc;
}

.submenu {
    background-color: #7CA3B3;
    color: #E7EDF3;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: min(1.04167vw, 1.85185vh);
    letter-spacing: -0.015em;
    cursor: pointer;
}

.submenu:not(:last-of-type) {
    width: 32%;
    border-right: min(0.05208vw, 0.09259vh) solid #cde4fc;
}

.submenu:last-of-type {
    width: 36%;
}

.active {
    background-color: #1D728F;
    font-weight: 400;
    color: white;
    cursor: default;
}