.skin {
    width: 100%;
    height: 83.88889vh;
    background-color: rgb(255, 255, 255, 0.15);
    border: #E7EDF3 min(0.05208vw, 0.09259vh) solid;
    border-radius: min(0.41667vw, 0.74074vh);
    display: flex;
    padding: min(2.08333vw, 3.7037vh);
    justify-content: space-between;
    overflow: hidden;
}

.wrapperTablet{
    width: 83.33333vw;
    height: 100%;
    overflow: hidden;
}

.title {
    width: 100%;
    height: 7.40741vh;
    border-radius: min(0.41667vw, 0.74074vh);
    display: flex;
}

.category {   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7EDF3;
    color: #00536F;
    font-size: min(1.35417vw, 2.40741vh);
    font-weight: 600;
    cursor: pointer;
}

.category:not(:last-of-type){
    border-right: #327287 min(0.05208vw, 0.09259vh) solid;
}



.tabletRow{
    height: 7.03704vh;
    width: 100%;
    background-color: #E7EDF3;
    display: flex;
    align-items: center;
}

.mainContent{
    margin-top: 0.74074vh;
    width: 100%;
    height: 67.96296vh;
    border-radius: min(0.41667vw, 0.74074vh);
}

.scrollable{
    overflow: auto;
    width: 100%;
    height: 67.96296vh;
    border-radius: inherit;
    overflow-x: hidden;
}

.scrollable::-webkit-scrollbar {
    width: 0.625vw; /* Ширина полосы прокрутки для браузеров на основе WebKit (Chrome, Safari, Opera) */
}

.scrollable::-webkit-scrollbar-track {
    background: #E7EDF3; /* Цвет фона трека (необязательно) */
}

.scrollable::-webkit-scrollbar-thumb {
    background: #79ACBE; /* Цвет полосы прокрутки */
    border-radius: min(0.41667vw, 0.74074vh); /* Закругленные углы полосы прокрутки */
}


.tabletElement{
    height: 100%;
    transition: 0.3s ease-in-out background-color;
}


.hLine{
    width: 0.05208vw;
    height: 90%;
    background-color: #327287;
    transition: all 0.3s ease-in-out;
}

.vLines{
    width: 100%;
    display: flex;
    align-items: center;
    height: 0.09259vh;
    justify-content: space-around;
    background: #E7EDF3;
}

.vLine{
    background-color: #327287;
    height: 100%;
    transition: all 0.3s ease-in-out;
}
