.mainHeader{
    width: 100vw;
    height: 7.40741vh;
    background-color: #00536F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 7.40741vh;
    padding-right: 4.16667vw;
}

.mainHeader >h1{
    font-weight: 500;
    color: #E7EDF3;
    font-size: min(1.66667vw, 2.96296vh);
    text-shadow: 0 0.37037vh min(0.20833vw, 0.37037vh) rgba(0, 0, 0, 0.35);
}

.authLogo{
    object-fit: contain;
    object-position: center center;
    overflow: visible;
    cursor: pointer;
    width: min(1.97917vw, 3.51852vh);
}

.authLabel{
    display: flex;
    align-items: center;
    min-width: 10.41667vw;
    justify-content: flex-end;
    overflow: visible;
}

.authLabel > h1{
    white-space: nowrap;
    text-align: right;
    margin-right: 0.10417vw;
    color: #D9E5F0;
    font-weight: 500;
    font-size: min(1.04167vw, 1.85185vh);
}

.authLabel > svg{
    width: 1.97917vw;
    object-fit: contain;
    object-position: center center;
    overflow: visible;
}